.accordion {
  .accordion__item-content {
    @include list-reset;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;

    li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 10px;

      &::before {
        content: "";
        position: absolute;
        background-color: $green;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .accordion__item--active {
    .accordion__item-content {
      display: block;
    }

    svg {
      transform: rotate(90deg);
    }
  }

  .accordion__trigger {
    @include text($font-16, $height-36, $bold);
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $blue;
    border-bottom: 1px solid $light-pink;

    svg {
      margin-right: 13px;
    }

    @media (max-width: 1280px) {
      @include text($font-15, $height-36, $bold);
    }
  }

  a {
    @include text($font-16, $height-22, $regular);
    color: $blue;

    @media (max-width: 1280px) {
      @include text($font-14, $height-20, $regular);
    }
  }

  .accordion__link--active {
    color: $green;
  }
}
