.footer-menu {
  &--top {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;

    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }

  &--main {
    margin-top: 63px;
    margin-left: 61px;

    @media (max-width: 1280px) {
      margin-left: 88px;
    }

    @media (max-width: 768px) {
      margin-left: 40px;
    }

    @media (max-width: $max-mobile-width) {
      display: none;
    }

    ul {
      @include list-reset;
      display: flex;
    }

    li {
      text-transform: uppercase;
      margin-right: 10px;
    }

    a {
      @include text ($font-14, $height-14, $semi-bold);
      color: $medium-grey;

      @media (max-width: 768px) {
        @include text ($font-10, $height-12, $semi-bold);
      }
    }

    .footer-menu__link {
      &--current {
        color: $green;
      }
    }

    svg {
      margin-right: 16px;
      fill: $green;
    }
  }
}

.footer-menu__phones {
  display: flex;
  align-items: center;

  @media (max-width: 1280px) {
    margin-left: 38px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }

  a {
    @include text ($font-16, $height-19, $semi-bold);
    color: $light-grey;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 12px;
  }

  .footer-menu__icon--phone {
    transform: scale(0.7);
  }
}

.footer-menu__button {
  color: $medium-grey;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.footer-menu__social {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }

  ul {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-right: 5px;
  }

  p {
    @include text ($font-16, $height-19, $semi-bold);
    color: $medium-grey;
    margin: 0;
    margin-left: 7px;
  }
}
