.logo {
  &--scroll {
    display: none;

    @media (max-width: 1024px) {
      width: 148px;
      height: 60px;
    }

    @media (max-width: 768px) {
      width: 123px;
      height: 50px;
    }

    @media (max-width: $max-mobile-width) {
      width: 99px;
      height: 40px;
    }

    &--show {
      display: block;
    }
  }

  &--main {
    &--hide {
      display: none;
    }

    @media (max-width: 1024px) {
      width: 148px;
      height: 60px;
    }

    @media (max-width: 768px) {
      width: 123px;
      height: 50px;
    }

    @media (max-width: $max-mobile-width) {
      width: 99px;
      height: 40px;
    }
  }

  &--footer {
    margin-left: 16px;

    @media (max-width: 1280px) {
      margin-left: 38px;
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }

    img {
      @media (max-width: 1024px) {
        width: 250px;
        height: 100px;
      }
    }
  }
}
