.menu {
  @include list-reset;
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 1024px) {
    padding-left: 15px;
  }

  @media (max-width: 768px) {
    padding-left: 0;
  }

  @media (max-width: $max-mobile-width) {
    display: none;
  }

  li {
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    @media (max-width: 1280px) {
      margin-right: 15px;
    }

    @media (max-width: 1024px) {
      margin-right: 10px;
    }

    @media (max-width: 768px) {
      margin-right: 8px;
    }

    &::before {
      content: url("../img/icon-arrow.svg");
      display: none;
      position: absolute;
      left: 0;
      top: 12px;

      @media (max-width: $max-mobile-width) {
        display: block;
      }
    }
  }

  a {
    @include text ($font-14, $height-14, $semi-bold);
    text-transform: uppercase;
    color: $dark-blue;
    display: flex;
    align-items: center;

    @media (max-width: 1280px) {
      @include text ($font-12, $height-12, $semi-bold);
    }

    @media (max-width: 768px) {
      @include text ($font-10, $height-12, $semi-bold);
    }

    @media (max-width: $max-mobile-width) {
      @include text ($font-14, $height-36, $semi-bold);
      color: $blue;
    }
  }

  .menu__link--current {
    color: $green;
  }

  .menu__icon--home {
    fill: $dark-blue;
    margin-right: 17px;

    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }
}
