.navigation {
  margin: 0;
  display: grid;
  grid-template-columns: 410px 6fr 3fr;
  grid-template-areas: "logo menu contacts";
  align-items: center;

  @media (max-width: 1440px) {
    grid-template-columns: 410px 6fr 3fr;
  }

  @media (max-width: 1280px) {
    //grid-template-columns: 338px 594px 290px;
    grid-template-columns: 27% 47% 26%;
  }

  @media (max-width: 1024px) {
    //grid-template-columns: 148px 472px 343px;
    grid-template-columns: 15% 49% 36%;
  }

  @media (max-width: 768px) {
    //grid-template-columns: 136px 383px 200px;
    grid-template-columns: 19% 53% 28%;
  }

  @media (max-width: $max-mobile-width) {
    grid-template-columns: 4fr 8fr;
    grid-template-areas: "logo contacts";
  }
}

.navigation__contacts {
  grid-area: contacts;
  justify-content: flex-end;
  display: flex;

  span {
    @include text ($font-14, $height-17, $regular);
    color: $blue;
  }

  a {
    @include text ($font-30, $height-37, $bold);
    width: 241px;
    color: $dark-blue;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: 1280px) {
      @include text ($font-28, $height-34, $bold);
    }

    @media (max-width: 1024px) {
      @include text ($font-16, $height-19, $regular);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.navigation__icon--phone {
  margin-right: 20px;

  @media (max-width: 1280px) {
    margin-right: 18px;
  }

  @media (max-width: 1024px) {
    margin-right: 13px;
  }
}

.navigation__icon--home {
  margin-right: 17px;

  @media (max-width: 1280px) {
    margin-right: 10px;
  }
}

.navigation__burger-menu {
  margin-left: 16px;
  align-self: baseline;

  svg {
    fill: $green;

    @media (max-width: 768px) {
      fill: $orange;
    }
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 10px;
  }
}
