.navigation {
  margin: 0;
  display: grid;
  grid-template-columns: 410px 6fr 3fr;
  grid-template-areas: "logo menu contacts";
  align-items: center;

  @media (max-width: 1440px) {
    grid-template-columns: 357px 6fr 3fr;
  }

  @media (max-width: 1280px) {
    grid-template-columns: 27% 47% 26%;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 148px 59% 26%;
  }

  @media (max-width: 768px) {
    grid-template-columns: 19% 53% 28%;
  }

  @media (max-width: $max-mobile-width) {
    grid-template-columns: 8fr 4fr;
    grid-template-areas: "logo contacts";

    &--mobile {
      background-color: rgba(0, 11, 21, 0.9);
      padding-bottom: 115px;
      z-index: 150;

      .navigation__logo {
        img {
          width: 200px;
          height: 80px;
          margin-top: 15px;
          margin-left: 15px;
        }
      }

      .navigation__menu {
        width: 100%;
        grid-column: 1/3;
        grid-row: 2/3;
        padding-left: 17px;
        padding-right: 26px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
      }

      li {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 17px;
      }

      a {
        font-size: 14px;
        line-height: 36px;
        color: $blue;
      }
    }
  }
}

.navigation__logo {
  grid-area: logo;
}

.navigation__contacts {
  grid-area: contacts;
  justify-content: flex-end;
  display: flex;

  @media (max-width: $max-mobile-width) {
    height: 100%;
    align-items: baseline;
    padding-top: 12px;
  }

  span {
    @include text ($font-14, $height-17, $regular);
    color: $blue;
    padding-bottom: 1px;

    &:last-of-type {
      border-bottom: 1px solid $blue;
    }
  }

  a {
    @include text ($font-30, $height-37, $bold);
    width: 241px;
    color: $dark-blue;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: 1280px) {
      @include text ($font-28, $height-34, $bold);
    }

    @media (max-width: 1024px) {
      @include text ($font-16, $height-19, $regular);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.navigation__icon--phone {
  margin-right: 20px;

  @media (max-width: 1280px) {
    margin-right: 18px;
  }

  @media (max-width: 1024px) {
    margin-right: 13px;
  }
}

.navigation__icon--home {
  margin-right: 17px;

  @media (max-width: 1280px) {
    margin-right: 10px;
  }
}

.navigation__close {
  display: none;
  margin-right: 0;

  @media (max-width: $max-mobile-width) {
    margin-right: 10px;
  }

  &--show {
    display: block;
  }
}

.navigation__burger-menu {
  margin-left: 16px;
  align-self: baseline;
  margin-top: 5px;

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  @media (max-width: 768px) {
    margin-right: 0;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 10px;
    margin-top: 0;
    //width: 20px;
    //height: 17px;
  }

  &--hide {
    display: none;
  }

  svg {
    fill: $green;

    @media (max-width: 768px) {
      fill: $orange;
    }

    @media (max-width: $max-mobile-width) {
      transform: scale(0.8);
    }
  }
}

