.page-footer {
  min-height: 400px;
  background-image: url("../img/footer-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/footer-bg-desktop@2x.png");
  }

  @media (max-width: 1280px) {
    background-image: url("../img/footer-bg-1280@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/footer-bg-1280@2x.png");
    }
  }
}

.page-footer__menu-wrapper {
  background-color: $medium-black;
}

.page-footer__main-content {
  padding-top: 41px;
  padding-bottom: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1280px) {
    justify-content: flex-start;
  }
}

.page-footer__about {
  @media (max-width: 1440px) {
    margin-right: 200px;
  }

  @media (max-width: 1280px) {
    margin-right: 116px;
  }

  @media (max-width: 1024px) {
    margin-right: 18px;
    width: 60%;
  }

  @media (max-width: 768px) {
    margin-right: 21px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
    width: 100%;
  }

  p {
    @include text ($font-16, $height-16, $regular);
    color: $light-grey;
    width: 600px;
    margin-left: 61px;

    @media (max-width: 1280px) {
      font-size: 14px;
      margin-left: 88px;
      width: 584px;
    }

    @media (max-width: 1024px) {
      width: 60%;
      margin-left: 70px;
    }

    @media (max-width: 768px) {
      @include text ($font-12, $height-14, $regular);
      width: 313px;
      margin-left: 40px;
    }

    @media (max-width: $min-mobile-width) {
      margin-left: 0;
      padding-left: 15px;
      padding-right: 16px;
      width: 100%;
    }
  }
}

.page-footer__contacts {
  padding-top: 50px;
  margin-right: 201px;

  @media (max-width: 1440px) {
    margin-right: 0;
  }

  @media (max-width: 1280px) {
    margin-right: 0;
  }

  @media (max-width: 1024px) {
    padding-top: 100px;
    width: 37%;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 36px;
  }
}
