.page-main {
  display: grid;
  grid-template-columns: 23% 73%;
  column-gap: 4%;
  grid-template-areas: "information production"
    "information ."
    ". specialisation";

  @media (max-width: 1440px) {
    grid-template-columns: 23% 76%;
    column-gap: 1%;
    padding-left: 40px;
    padding-right: 50px;
  }

  @media (max-width: 1280px) {
    grid-template-columns: 26% 73%;
    column-gap: 1%;
    padding: 0;
    padding-right: 38px;
  }

  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    grid-template-columns: none;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: "production"
      "specialisation";
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $max-mobile-width) {
    display: block;
    grid-template-columns: none;
  }
}
