.production {
  grid-area: production;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 1100px;
  padding-bottom: 80px;

  @media (max-width: 1440px) {
    min-width: unset;
    justify-content: flex-start;
  }

  @media (max-width: 1280px) {
    min-width: unset;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: $max-mobile-width) {
    grid-area: unset;
    justify-content: flex-start;
  }
}

.production__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  p {
    @include text($font-28, $height-26, $semi-bold);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    margin: 0;
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 44px 177px 30px 32px;

    @media (max-width: 1280px) {
      @include text($font-22, $height-20, $semi-bold);
      padding: 35px 101px 27px 26px;
    }

    @media (max-width: $max-mobile-width) {
      @include text($font-12, $height-12, $semi-bold);
      padding: 13px 40px 11px 11px;
    }
  }
}

.production__item--materials {
  width: 728px;
  height: 350px;

  @media (max-width: 1440px) {
    width: 585px;
    height: 281px;
    margin-right: 13px;

    img {
      width: 100%;
    }
  }

  @media (max-width: 1280px) {
    margin-right: 0;
    margin-bottom: 16px;
  }

  @media (max-width: 1024px) {
    width: 624px;
    margin-right: 16px;
  }

  @media (max-width: 768px) {
    width: 466px;
    height: 224px;
    margin-right: 0;
  }

  @media (max-width: $max-mobile-width) {
    height: 138px;
  }
}

.production__wrapper {
  width: 356px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1440px) {
    width: 286px;
  }

  @media (max-width: 1024px) {
    width: 306px;
  }

  @media (max-width: 768px) {
    width: 229px;
  }

  @media (max-width: $max-mobile-width) {
    display: none;
  }

  .production__item {
    height: 167px;
    width: 356px;

    @media (max-width: 1440px) {
      width: unset;
      height: 134px;
    }

    @media (max-width: 1280px) {
      margin-bottom: 16px;
    }

    @media (max-width: 1024px) {
      width: 306px;
    }

    @media (max-width: 768px) {
      width: unset;
      height: 107px;
    }

    @media (max-width: $max-mobile-width) {
      display: none;
    }

    p {
      @include text($font-24, $height-18, $bold);
      padding: 30px 104px 16px 20px;

      @media (max-width: 1280px) {
        @include text($font-18, $height-16, $bold);
        padding: 24px 60px 14px 14px;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    span {
      font-size: 16px;

      @media (max-width: 1280px) {
        font-size: 14px;
      }
    }
  }

  .production__item:last-child {
    align-self: flex-end;
  }
}

.production__desc {
  width: 976px;

  @media (max-width: 1280px) {
    width: 884px;
  }

  @media (max-width: 1024px) {
    width: 864px;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 20px;
  }

  h1 {
    @include title ($font-36, $height-36, $semi-bold, $black);
    margin-top: 40px;
    width: 800px;

    @media (max-width: 1280px) {
      @include title ($font-32, $height-32, $semi-bold, $black);
      width: 100%;
    }

    @media (max-width: $max-mobile-width) {
      @include title ($font-20, $height-20, $semi-bold, $black);
      margin: 0;
      margin-bottom: 6px;
    }
  }

  p {
    @include text($font-17, $height-20, $regular);
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: 1280px) {
      @include text($font-14, $height-16, $regular);
    }

    @media (max-width: $max-mobile-width) {
      @include text ($font-13, $height-16, $regular);
      margin: 0;
      margin-bottom: 16px;
    }

    span {
      font-weight: 600;
    }
  }

  a {
    color: $blue;

    @media (max-width: 1280px) {
      @include text($font-14, $height-16, $regular);
    }
  }
}
