//COLOR VARIABLES
$green: #00b200; //цвет текста
$black: #000000; //цвет текста
$medium-black: #000b1d; //цвет текста
$grey: #666666;  //цвет текста
$light-grey: #999999; //цвет текста
$medium-grey: #cccccc;
$white: #ffffff; //цвет текста
$blue: #006db5; //цвет текста
$dark-blue: #00276c;
$light-pink: #f0e5e5;
$orange: #fc9d40;

$max-tablet-width: 1024px; // максимум для версии пишем когда идем от desktop к mobile (768px - 1023px;)
$min-tablet-width: 768px;
$max-mobile-width: 767px; // максимум для версии пишем когда идем от desktop к mobile (320px - 767px;)
$min-mobile-width: 320px;

//RETINA VARIABLES
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//FONTS VARIABLES
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-34: 34px;
$font-26: 26px;
$font-30: 30px;
$font-32: 32px;
$font-36: 36px;
$font-38: 38px;
$font-45: 45px;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$height-12: 12px;
$height-14: 14px;
$height-16: 16px;
$height-17: 17px;
$height-18: 18px;
$height-19: 19px;
$height-20: 20px;
$height-21: 21px;
$height-22: 22px;
$height-23: 23px;
$height-24: 24px;
$height-26: 26px;
$height-28: 28px;
$height-29: 29px;
$height-32: 32px;
$height-34: 34px;
$height-36: 36px;
$height-37: 37px;
$height-38: 38px;
$height-44: 44px;
$height-49: 49px;
$height-59: 59px;
